body {
  background-color: #2c3e50;
  color: white;
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
}
#logo {
  display: block;
  margin: 0 auto;
}
#video-innehåll {
  float: right;
  width: 30%;
  background-color: rgb(136, 136, 136);
  padding: 10px;
  margin-right: 5px;
}

#bild-innehåll-1 {
  float: right;
  background-color: rgb(136, 136, 136);
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}

#bild-innehåll-2 {
  float: right;
  background-color: rgb(136, 136, 136);
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}

.image-text {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #2c3e50;
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
}

.image-text:hover {
  background-color: #3d5170;
}

.grå-rektanglar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.image {
  display: block;
}

#video {
  width: 100%;
}

#icon-bar {
  position: fixed;
  bottom: 0;
  width: 12%;
  background-color: rgb(74, 74, 74);
  padding: 10px;
}

#icon-bar i {
  font-size: 2em;
  margin-left: 10px;
  color: black;
}

#icon-bar a:nth-child(5) {
  margin-right: 1px;
}

#icon-bar a:first-child:hover i {
  background: linear-gradient(
    to bottom,
    #5500a0,
    rgb(212, 0, 202),
    #f12d2d,
    rgb(255, 132, 0)
  );
  -webkit-background-clip: text; /* Gör så att background color är bara på text content och inte på padding, margin eller border */
  -webkit-text-fill-color: transparent;
}

#icon-bar a:nth-child(2):hover i {
  background-color: #00acee;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#icon-bar a:nth-child(3):hover i {
  background-color: #3b5998;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#icon-bar a:nth-child(4):hover i {
  background-color: #0077b5;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#icon-bar a:nth-child(5):hover i {
  background-color: #ff0000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
