.header {
  display: flex;
  align-content: flex-start;
  width: 100%;
}

.BildHeader {
  height: 50px;
  display: flex;
  align-content: center;
}

.meny {
  background-color: rgb(59, 59, 59);
  height: 130px;
}

.meny-item {
  margin-left: 10%;
}
