.header {
  display: flex;
  align-content: flex-start;
  width: 100%;
}

#BildHeader {
  height: 50px;
}

.meny {
  background-color: red;
  height: 186px;
}

@media (max-width: 100%) {
  .meny {
    flex-direction: column;
    align-items: center;
  }
}

.meny-item {
  margin-left: 10%;
}
